.approval-page {
    //   background: #fff7e6;
    min-height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Title */
.page-title {
    font-size: 1.5rem;
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
}

/* Dropdown Wrapper */
.filter-dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
    padding: 5px;
    background: orange;
    border-radius: 5px;
}

/* Dropdown Button */
.dropdown-btn {
    background: orange;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

/* Dropdown Menu Hidden Default */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border-radius: 12px;
    padding: 10px;
    width: 160px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/* Show Dropdown on Hover */
.filter-dropdown:hover .dropdown-menu {
    display: block;
}

/* Dropdown Items */
.drop-item {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: orange;
    display: flex;
    align-items: center;
}

/* Status Colors */
.pending {
    background: purple;
}

.approved {
    background: #53b753;
    padding: 12px;
    width: 82px;
    font-size: 13px;
}

.rejected {
    background: red;
    padding: 12px;
    width: 82px;
    font-size: 13px;
}

.blocked {
    background: gray;
}

/* Hover Effect */
.drop-item:hover {
    opacity: 0.85;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: orange;
}

/* SUMMARY BAR */
.summary-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background: #fdf5e8;
    border-radius: 25px;
    /* padding: 15px; */
    border: 1px solid #ddd;
    padding: 5px;
}

.summary-box {
    text-align: center;
    flex: 1;
    font-size: 14px;
}

.summary-box h3 {
    margin: 5px 0;
    font-size: 20px;
}

/* COLORS */
.orange {
    color: orange;
    border-right: 2px solid orange
}

.green {
    color: green;
    border-right: 2px solid orange
}

.red {
    color: red;
    border-right: 2px solid orange
}

.purple {
    color: purple;
    border-right: 2px solid orange
}

.blue {
    color: teal;
}

/* CHART SECTION */
.chart-section {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    gap: 20px;
}

.chart-box {
    flex: 1;
    height: 200px;
    background: white;
    border-radius: 15px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* CARD GRID */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* AGENT CARD */
.agent-card {
    background: white;
    border-radius: 18px 18px 0px 0px;
    border: 1px solid #ddd;
    padding: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

/* CARD TOP */
.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-top img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid orange;
}

.dots {
    color: green;
    text-align: end;
    margin-right: 14px;
    font-size: 27px;
}

.dateNAme {
    display: flex;
    justify-content: space-between;
}


/* STATUS */
.status {
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

/* DETAILS */
.details p {
    font-size: 13px;
    margin: 6px 0;
}

/* ACTIONS */
.actions {
    margin-top: 12px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.btn {
    padding: 7px 18px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 10px;
}

.approve {
    background: #499d49;
    padding: 10px;
    width: 90px;
    font-size: 15px;
}

.reject {
    background: red;
    padding: 10px;
    width: 90px;
  font-size: 15px;
}

.icons {
    font-size: 18px;
    cursor: pointer;
}

.dots-wrapper {
    position: relative;
    text-align: right;
}

.dot-menu {
    position: absolute;
    top: 25px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 120px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 200;
}

.dot-menu button {
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    font-size: 13px;
}

.dot-menu button:hover {
    background: #f5f5f5;
}

.chart-box {
    background: white;
    border-radius: 12px;
    padding: 15px;
    height: 280px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

.chart-section {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.chart-box {
    flex: 1;
    background: white;
    border-radius: 16px;
    padding: 15px;
    height: 280px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.pagination button {
    padding: 6px 14px;
    border: none;
    background: orange;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.pagination button:disabled {
    background: lightgray;
    cursor: not-allowed;
}

.search-container {
    width: 280px;
    position: relative;
    width: 280px;
    /* margin-right: auto; */
    left: 655px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.search-input {
    width: 100%;
    padding: 10px 14px 10px 40px;
    /* left padding for icon */
    border: 1px solid #ccc;
    border-radius: 25px;
    /* Google round */
    outline: none;
    font-size: 14px;
}

.search-input:focus {
    border-color: orange;
    box-shadow: 0 0 6px rgba(255, 165, 0, 0.5);
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 14px;
}