.agent-table-container {
    max-width: 1234px;
    margin: 15px auto;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);   
}


.btns{
    display: flex;
    gap: 10px;
}
.travel-Details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.approved {
    background-color: #72a835;
    color: white;
}

.rejected {
    background-color: #c02624;
    color: white;
}

.pending {
    background-color: #f1c40f;
    color: white;
}

.agent-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 13px;
}

.agent-table th,
.agent-table td {
    padding: 6px 12px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap;
}

.agent-table th {
    background-color: #b84444;
    color: #fff;
    font-weight: bold;
}

.agent-table td {
    background-color: #fff;
}

.agent-table tr:hover {
    background-color: #f1f1f1;
}

td button {
    margin: 3px;
    font-size: 12px;
    padding: 0px 2px;
    cursor: pointer;
    border: none;
    background-color: white;

    .fa-check{
        color: #72a835;
    }
    .fa-xmark{
        color: #c02624;
    }
    .fa-trash-can{
        color: gray;
    }
    .fa-pen-to-square{
        color:#eb9922 ;
    }
}

.Approve-reject {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    align-items: center;
    flex-wrap: nowrap;
}

.hover-container {
    position: relative;
    display: inline-block;
}

.hover-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.hover-container:hover .hover-content {
    display: block;
}